@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0px;
    overflow-x: hidden;
}

.active{
    color:palevioletred;
    border: 2px solid palevioletred;
    /* border: 2px solid blueviolet; */
    /* transition: 0.5s ease-in; */
}

